body {
    background-color: #f5f5f5;
    font-family: "poppins";
}

.task-creation-dialog {
    display: none;
}

.task {
    background-color: white;
    max-width: fit-content;
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
    color: #4a90e2;
    font-size: larger;
    font-family: "poppins";
    font-weight: 500;
}

button {
    margin: 5px;
    border: 2px solid #4a90e2;
    padding: 4px;
    font-family: "poppins";
    background: none;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    background-color: #4a90e2;
    cursor: pointer;
}

.task.low {
    border: 4px solid #36ff61c2;
}

.task.medium {
    border: 4px solid #feca2dc2;
}

.task.high {
    border: 4px solid #f92626c2;
}

.task.urgent {
    border: 4px solid #882dfec2;
}
