body, html {
    font-family: "Poppins";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
    scale: 1.35;
    overflow: hidden;
}
.container {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    margin: 7.5px;
}
input::placeholder {
    color: white;
}

input {
    font-family: "Poppins";
}

span {
    color: red;
    font-weight: bold;
}